<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jquery.mCustomScrollbar.css" rel="stylesheet" />
    
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <title>Memo Web Application</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/click.js"></script>
    <script type="text/javascript">
        $(window).load(function(){
            $("#labelList").mCustomScrollbar();
        });
        $(document).ready(function() {
          
        //처음화면은 1번째 라벨 선택됨
        $("#labelList ul li:eq(1)").addClass('selected');
        
        // 라벨들 클릭했을 때..
        var labelClickIndex = '';
        var labelID = $("#labelList ul li:eq(1)").val();
        var labelText = '';
        
        $('#labelList ul li').click(function() {
            
            labelClickIndex = $('#labelList ul li').index(this);
            labelText = $("#labelList ul li:eq("+labelClickIndex+") div").text();
            $("#selectLabel").text(labelText);
            
            if(labelClickIndex==0) {  // 전체메모
              allMemoView();
            } else {  // 라벨들
              labelID = $("#labelList ul li:eq("+labelClickIndex+")").val();
              clickLabel(labelID);
            }
            $("li").removeClass('selected');
            $(this).addClass('selected');
            
        });
        
        // 메모들 클릭했을 때..
        $('#memoList ul li').click(function() {
            var clickedIndex = $('#memoList ul li').index(this);    // 클릭한 메모 li 태그의 value값이 메모아이디
            var memoClickID = $('#memoList ul li:eq('+clickedIndex+')').val();
            clickMemo(memoClickID)
        }); 
        
        
        // Add New Label 버튼
        $("#btnAddSubmit").click(function() {
            // 남아있는 텍스트 지우고..
            $("#inputLabel").val("");
            var inputLabel = $.trim($("#inputLabel").val());
            if(inputLabel=="") {
                alert("라벨을 입력하세요.");
            } else {
                addLabelClick(inputLabel);
            }
        });
        

        
        // 새메모 버튼 눌렀을때
        $("#btnNewMemo").click(function() {
          // 남아있는 텍스트 지우고..
          $("#inputMemoTitle").val("");
          $("#inputMemoContent").val("");
          
          // 전체메모 라벨로 선택이 되어 있으면..
          if($("#labelTab li").first().hasClass("selected")) {
            //버튼 비활성화 data-toggle="modal"
            $("#btnNewMemo").removeAttr("data-toggle");
            alert("라벨을 지정 후 새 메모를 추가할 수 있습니다.");
            
            return;
          } else {
            $("#btnNewMemo").attr("data-toggle", "modal");
          }
        });
        
        $("#btnMemoReg").click(function() {
          var input_title = $.trim($("#inputMemoTitle").val()); //입력한 메모 타이틀
          var input_content = $("#inputMemoContent").val(); // 입력한 메모내용
          var label_id = $("#labelList .selected").val(); // 선택된 라벨의 아이디값
          
          console.log("label_id :: " + label_id);
          console.log("title :: "+ input_title);
          console.log("content :: "+ input_content);
          
          newMemoClick(label_id, input_title, input_content);
        });
        
        
        
        

      });

        
      
    </script>

  </head>
  <body>
    <div class="page-header">
      <h1>MEMO Web Application</h1>
    </div>
    <div id="appContent">
      <div id="labelArea">
        <div id="labelList" class="mCustomScrollbar" data-mcs-theme="minimal-dark">
          <ul class="list-group" id="labelTab">
            <li class="list-group-item">
              <label class="badge"><%= allMemoCount %></label>
              <div>전체메모</div>
            </li>
            <% for(var i=0;i<arrLabels.length; i++) { 
              var labelList = arrLabels[i];
            %>
            <li class="list-group-item" value="<%= labelList.LABEL_ID %>">
              <label class="badge"><%= memoCount[i].MEMO_CNT %></label>
              <div><%= labelList.LABEL_NAME %></div>
            </li>
          <% } %>
          </ul>
        </div>
        <div id="labelBtnArea">
          <!-- <a class="btn btn-primary" type="button" data-toggle="modal" data-target=".bs-example-modal-sm" href="modalTest">Small modal</a> -->
          <button class="btn btn-primary" type="button" id="btnAddLabel" data-toggle="modal" data-target="#labelModal">Add New Label</button>
          <button class="btn btn-primary glyphicon glyphicon-cog" type="button">
          </button>
        </div>
        </div>

      <div id="memoArea">
        <!-- 라벨 이름변경/설정/삭제 -->
        <div id="labeleSet">       
          <label class="title" id="selectLabel"><%= arrLabels[0].LABEL_NAME %></label>
          <div id="memoBtnArea">
            <button class="btn btn-primary glyphicon glyphicon-edit" id="btnNewMemo" data-toggle="modal" data-target="#memoModal"></button>
            <button class="btn btn-primary glyphicon glyphicon-trash"></button>
          </div>
        </div>

        <div id="memoList" class="mCustomScrollbar memoList" data-mcs-theme="minimal-dark">
          <ul class="list-group" id="memoTab">
          <% for(var i=0;i<arrInit.length; i++) {
            var memoList = arrInit[i];
          %>
            <li class="list-group-item" value="<%= memoList.MEMO_ID %>">
              <input type="checkbox"></input>
              <label class="list-group-item-heading"><%= memoList.MEMO_TITLE %></label>
              <label class="memoUpdateDate list-group-item-heading"><%= memoList.MEMO_REG_DATE %></label>
              <div class="list-group-item-text memoPreview"><%= memoList.MEMO_CONTENT %></div>
            </li>
          <% } %>
          </ul>
        </div>
      </div>

      <div id="memoDetailArea">
        <div class="panel panel-default" id="memoDetail">
          <div class="panel-heading">
            <% if(arrInit == null) { 
                arrInit[0].MEMO_TITLE = '';
                arrInit[0].MEMO_UPDATE_DATE = '없음';
                arrInit[0].MEMO_CONTENT = '';
              }
            %>
            <label class="title" id="memoTitle"><%= arrInit[0].MEMO_TITLE %></label>
            <label class="memoUpdateDate" id="memoUpdateDate">최근 수정일 : <%= arrInit[0].MEMO_UPDATE_DATE %></label>
          </div>
          <div class="panel-body mCustomScrollbar" id="memo_content" data-mcs-theme="minimal-dark">
          <%= arrInit[0].MEMO_CONTENT %>
          </div>
          <div id="memoUpdateBtnArea">
            <button class="btn btn-primary" type="button">Edit</button>
            <button class="btn btn-primary" type="button">Delete</button>
          </div>
        </div>
      </div>
      <!-- 라베추가 모달 -->
      <div class="modal fade labelModal" id="labelModal">
        <div class="modal-dialog dialog-label">
          <div class="modal-content">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h4>Add New Label</h4>
            </div>
            <div class="modal-body">
                <input id="inputLabel" type="text" placeholder="새로운 라벨명">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="btnAddSubmit">Add</button>
                <button class="btn" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      
      <!--새메모 모달-->
      <div class="modal fade memoModal" id="memoModal">
        <div class="modal-dialog dialog-newMemo">
          <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h4>New Memo</h4>
            </div>
            <div class="modal-body" id="memo_labelID">
                <input id="inputMemoTitle" type="text" placeholder="메모 제목을 입력하세요.">
                <textarea id="inputMemoContent" type="text" placeholder="내용을 입력하세요."></textarea>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="btnMemoReg">REG</button>
                <button class="btn" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
  </body>
</html>